@media only screen and (max-width: 800px) {
  .link {font-size: 0.9em;}
  .cardCommittee > h1 {font-size: 1.5em; margin-bottom: 5vh; width: 50vw;}
  .commiteeContainer {flex-direction: column;}
  .cardCommittee > img {width: 50vw;}
  .noteCard {flex-direction: column;}
  .noteCard > img {width: 50vw}
}

.phone-nav {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .top_comp {
    padding: 30px;
  }

  .left_img {
    height: 120px;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .right_img {
    height: 70px;
    width: 180px;
  }

  .top_comp h2 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 600px) {
  .top_comp {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .left_img {
    height: 100px;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .right_img {
    height: 60px;
    width: 150px;
  }

  .top_comp h2 {
    font-size: 1.2em;
    text-align: center;
  }
}

@media only screen and (min-width: 601px) {
  .phone-nav-menu-hidden {
    display: none;
  }
}


@media only screen and (max-width: 600px) {
  .phone-nav {
    display: flex;
    padding: 0;
    margin: 0;
    height: 15vh;
  }
  .phone-nav > .nav-logo > a > img {
    width: 20vw;
    margin-left: 12vw;
  }
  nav {
    display: none;
  }
  
  .new-btn {
    margin-right: 12vw;
    border-radius: 5px;
    background: #ad0072;
    width: 15vw;
    aspect-ratio: 1;
  }
  .phone-nav-menu-hidden {
    opacity: 0;
    /* display: none; */
    position: absolute;
    top: -100vh;
    transition: all 500ms ease;
  }
  .phone-nav-menu-visible {
    position: absolute;
    top: 18vh;
    display: flex;
    opacity: 1;
    transform: translateY(0);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 40vh;
    z-index: 1000;
    background: #18181B;
  }
  .phone-nav-menu-visible > li {
    color: white;
    list-style-type: none;
  }
}
